<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shth.das.sys.weldmesdb.mapper.StatisticsDataMapper">

    <!-- 统计OTC实时数据到报表中 -->
    <insert id="insertWeldStatisticsData" parameterType="java.lang.String">
        <if test="tableName != null and tableName != '' and startTime != null and startTime != '' and endTime != null and endTime != ''">
            INSERT INTO weldmesdb.weld_statistics_data(weldDuration, weldModel, gatherNo, welderNo, weldStatus,
            machineId, machineNo, machineDeptId, gatherId, gatherDeptId,welderId, welderName, welderDeptId, taskId,
            taskName, taskNo, createTime,startTime,endTime,electricity,voltage,wireFeedRate,wireDiameter,wireMaterialsGases)
            SELECT COUNT(id) weldDuration,weldModel,gatherNo,welderNo,weldStatus,machineId,machineNo,
            machineDeptId,gatherId,gatherDeptId,welderId,welderName,welderDeptId,taskId,taskName,taskNo,SYSDATE(),
            '${startTime}','${endTime}',AVG(electricity),AVG(voltage),AVG(wireFeedRate),AVG(wireDiameter),AVG(wireMaterialsGases)
            FROM `weldmes-rtdata`.${tableName}
            WHERE weldTime BETWEEN #{startTime} AND #{endTime}
            GROUP BY gatherNo, weldStatus, welderNo, taskId
        </if>
    </insert>

    <!-- 查询OTC报表的最大结束时间 -->
    <select id="selectOtcMaxEndTime" resultType="java.lang.String">
        SELECT MAX(endTime) endTime FROM weld_statistics_data
    </select>

</mapper>