<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shth.das.sys.weldmesdb.mapper.StatisticsDataMapper">

    <!-- 统计OTC实时数据到报表中 -->
    <insert id="insertWeldStatisticsData" parameterType="java.util.List">
        INSERT INTO weldmesdb.weld_statistics_data(weldDuration, weldModel, gatherNo, welderNo, weldStatus,
        machineId, machineNo, machineDeptId, gatherId, gatherDeptId,welderId, welderName, welderDeptId, taskId,
        taskName, taskNo, createTime,startTime,endTime,electricity,voltage,wireFeedRate,wireDiameter,wireMaterialsGases)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.weldDuration},#{item.weldModel},#{item.gatherNo},#{item.welderNo},#{item.weldStatus}, #{item.machineId},#{item.machineNo},
             #{item.machineDeptId},#{item.gatherId},#{item.gatherDeptId},#{item.welderId},#{item.welderName},#{item.welderDeptId},#{item.taskId},
             #{item.taskName},#{item.taskNo},#{item.createTime},#{item.startTime},#{item.endTime},#{item.electricity},#{item.voltage},
             #{item.wireFeedRate},#{item.wireDiameter},#{item.wireMaterialsGases})
        </foreach>
    </insert>

    <!-- 统计SX实时数据到报表中 -->
    <insert id="insertSxWeldStatisticsData" parameterType="java.util.List">
        INSERT INTO weldmesdb.weldsx_statistics_data(weldSuration,weldCid,weldCode,weldIp,weldModel,weldType,weldStatus,
        startTime,endTime,createTime,weldFlag,welderId,welderName,welderDeptId,taskId,taskName,taskNo,
        initialEle,initialVol,initialWireSpeed,weldEle,weldVol,weldWireSpeed,
        arcEle,arcVol,arcWireSpeed,realityWeldEle,realityWeldVol,realityWireSpeed,wireSpeed)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.weldSuration},#{item.weldCid},#{item.weldCode},#{item.weldIp},#{item.weldModel},#{item.weldType},#{item.weldStatus},
            #{item.startTime},#{item.endTime},#{item.createTime},#{item.weldFlag},#{item.welderId},#{item.welderName},#{item.welderDeptId},
            #{item.taskId},#{item.taskName},#{item.taskNo},#{item.initialEle},#{item.initialVol},#{item.initialWireSpeed},#{item.weldEle},
            #{item.weldVol},#{item.weldWireSpeed},#{item.arcEle},#{item.arcVol},#{item.arcWireSpeed},#{item.realityWeldEle},
             #{item.realityWeldVol},#{item.realityWireSpeed},#{item.wireSpeed})
        </foreach>
    </insert>

    <!-- 查询OTC报表的最大结束时间 -->
    <select id="selectOtcMaxEndTime" resultType="java.lang.String">
        SELECT MAX(endTime) endTime FROM weld_statistics_data
    </select>

    <!-- 查询松下报表的最大结束时间 -->
    <select id="selectSxMaxEndTime" resultType="java.lang.String">
        SELECT MAX(endTime) endTime FROM weldsx_statistics_data
    </select>

</mapper>