<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shth.das.sys.weldmesdb.mapper.MachineWeldMapper">

    <!-- 查询焊机和采集模块的绑定数据 -->
    <select id="getMachineWeldAll" resultType="com.shth.das.pojo.db.WeldModel">
        SELECT w.*, g.gather_no gatherNo
        FROM machine_gather_info g
                 LEFT JOIN machine_weld_gather wg ON g.id = wg.gather_id
                 LEFT JOIN machine_weld_info w ON wg.weld_id = w.id
    </select>

</mapper>