<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shth.das.sys.weldmesdb.mapper.WeldOnOffTimeMapper">

    <!-- 根据采集编号查询最新的开机时间 -->
    <select id="selectWeldByGatherNo" resultType="com.shth.das.pojo.db.WeldOnOffTime">
        SELECT *
        FROM weld_on_off_time
        WHERE gather_no = #{gatherNo}
        ORDER BY id DESC LIMIT 1
    </select>

    <!-- 根据采集编号查询最新的开机时间 -->
    <select id="selectWeldByWeldCid" resultType="com.shth.das.pojo.db.WeldOnOffTime">
        SELECT *
        FROM weld_on_off_time
        WHERE weld_cid = #{weldCid}
        ORDER BY id DESC LIMIT 1
    </select>

</mapper>