<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gw.equipment.collection.dao.AreaBayDao">

    <resultMap id="AreaByaMap" type="com.gw.entities.AreaBayInfo">
        <id property="id" column="id"></id>
        <result property="areaId" column="area_id"></result>
        <result property="bayId" column="bay_id"></result>
        <result property="remarks" column="remarks"></result>
        <result property="areaBayName" column="value_name"></result>
    </resultMap>

    <!--插入区域跨间信息-->
    <insert id="insertAreaBayInfo" parameterType="com.gw.entities.AreaBayInfo">
        insert into area_bay(area_id,bay_id) values(#{areaBayInfo.areaId},#{areaBayInfo.bayId})
    </insert>

    <!--根据区域id 删除区域跨间信息-->
    <delete id="deleteAreaBayInfoById" parameterType="Long">
        delete from area_bay where area_id = #{areaId}
    </delete>

    <!--查询区域信息-->
    <select id="selectAreaInfos" resultType="com.gw.entities.AreaBayInfo">
        select id areaId,value_name areaBayName from sys_dictionary where `type` = '16'
    </select>

    <!--根据区域id查询跨间信息-->
    <select id="selectBayInfos" parameterType="Long" resultType="com.gw.entities.AreaBayInfo">
        select id bayId,value_name areaBayName
        from sys_dictionary
        where id in (select bay_id from area_bay where area_id = #{id})
    </select>
</mapper>
