<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.data.artifact.dao.ArtifactDao">
    <resultMap id="weldStatisticsData" type="com.gw.entities.WeldStatisticsData">
        <id property="id"  column="id"></id>
        <result property="weldModel" column="weldModel"></result>
        <result property="gatherNo" column="gatherNo"></result>
        <result property="welderNo" column="welderNo"></result>
        <result property="weldStatus" column="weldStatus"></result>
        <result property="weldDuration" column="weldDuration"></result>
        <result property="machineId" column="machineId"></result>
        <result property="machineNo" column="machineNo"></result>
        <result property="machineDeptId" column="machineDeptId"></result>
        <result property="gatherId" column="gatherId"></result>
        <result property="gatherDeptId" column="gatherDeptId"></result>
        <result property="welderId" column="welderId"></result>
        <result property="welderName" column="welderName"></result>
        <result property="welderDeptId" column="welderDeptId"></result>
        <result property="taskId" column="taskId"></result>
        <result property="taskName" column="taskName"></result>
        <result property="taskNo" column="taskNo"></result>
        <result property="createTime" column="createTime"></result>
        <result property="startTime" column="startTime"></result>
        <result property="endTime" column="endTime"></result>
        <result property="electricity" column="electricity"></result>
        <result property="voltage" column="voltage"></result>
        <result property="wireFeedRate" column="wireFeedRate"></result>
        <result property="wireDiameter" column="wireDiameter"></result>
        <result property="wireMaterialsGases" column="wireMaterialsGases"></result>
        <result property="count" column="count"></result>
        <result property="count2" column="count2"></result>
        <result property="count3" column="count3"></result>
        <result property="count4" column="count4"></result>
        <result property="count5" column="count5"></result>
        <result property="utilization" column="utilization"></result>
        <result property="time" column="time"></result>
        <result property="time2" column="time2"></result>
        <result property="utilization2" column="utilization2"></result>
        <association property="taskInfo" javaType="com.gw.entities.TaskInfo">
            <id property="id" column="id"></id>
            <result property="taskName" column="task_name"></result>
            <result property="taskNo" column="task_no"></result>
        </association>
    </resultMap>

    <select id="getList" resultMap="weldStatisticsData">
        select
        a.*,
        b.*,
        c.*,
        cast(
        b.time / c.time2 * 100 as decimal ( 13, 2 )) utilization
        from
        ( select distinct task_no
        from
        weld_statistics_data w, task_info t
        <where>
            w.taskId = t.id
            <if test=" !=null and time1!=''">
                and w.startTime &gt;= #{time1}
            </if>
            <if test="time2!=null and time2!=''">
                and w.endTime &lt;= #{time2}
            </if>
            <if test="taskNo!=null and taskNo!=''">
                and w.taskNo = #{taskNo}
            </if>
        </where>
        ) a,
        (
        select
        SEC_TO_TIME(
        count( w.id )) time,
        t.task_no
        from
        weld_statistics_data w,
        task_info t
        where
        w.taskId = t.id
        and ( w.weldStatus = 3 or w.weldStatus = 99 )
        group by
        t.task_no
        ) b,
        (
        select
        SEC_TO_TIME(
        count( w.id )) time2,
        t.task_no
        from
        weld_statistics_data w,
        task_info t
        where
        w.taskId = t.id
        and (
        w.weldStatus = 0
        or w.weldStatus = 3
        or w.weldStatus = 5
        or w.weldStatus = 7
        or w.weldStatus = 99
        )
        group by
        t.task_no
        ) c
        where
        a.task_no = b.task_no
        and a.task_no = c.task_no
    </select>
</mapper>