<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.data.device.dao.DeviceDao">
    <resultMap id="weldStatisticsData" type="com.gw.entities.WeldStatisticsData">
        <id property="id"  column="id"></id>
        <result property="weldModel" column="weldModel"></result>
        <result property="gatherNo" column="gatherNo"></result>
        <result property="welderNo" column="welderNo"></result>
        <result property="weldStatus" column="weldStatus"></result>
        <result property="weldDuration" column="weldDuration"></result>
        <result property="machineId" column="machineId"></result>
        <result property="machineNo" column="machineNo"></result>
        <result property="machineDeptId" column="machineDeptId"></result>
        <result property="gatherId" column="gatherId"></result>
        <result property="gatherDeptId" column="gatherDeptId"></result>
        <result property="welderId" column="welderId"></result>
        <result property="welderName" column="welderName"></result>
        <result property="welderDeptId" column="welderDeptId"></result>
        <result property="taskId" column="taskId"></result>
        <result property="taskName" column="taskName"></result>
        <result property="taskNo" column="taskNo"></result>
        <result property="createTime" column="createTime"></result>
        <result property="startTime" column="startTime"></result>
        <result property="endTime" column="endTime"></result>
        <result property="electricity" column="electricity"></result>
        <result property="voltage" column="voltage"></result>
        <result property="wireFeedRate" column="wireFeedRate"></result>
        <result property="wireDiameter" column="wireDiameter"></result>
        <result property="wireMaterialsGases" column="wireMaterialsGases"></result>
        <result property="count" column="count"></result>
        <result property="count2" column="count2"></result>
        <result property="count3" column="count3"></result>
        <result property="count4" column="count4"></result>
        <result property="count5" column="count5"></result>
        <result property="weldingEfficiency" column="weldingEfficiency"></result>
        <result property="onOffTime" column="onOffTime"></result>
        <result property="realWeldTime" column="realWeldTime"></result>
        <result property="normalTime" column="normalTime"></result>
        <result property="supergageTime" column="supergageTime"></result>
        <result property="standardPercentage" column="standardPercentage"></result>
        <result property="materialsConsumption" column="materialsConsumption"></result>
        <result property="powerConsumption" column="powerConsumption"></result>
        <result property="time" column="time"></result>
        <result property="time2" column="time2"></result>
    <association property="sysDept" javaType="com.gw.entities.SysDept">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="parentId" column="parent_id"></result>
    </association>
    <association property="machineWeldInfo" javaType="com.gw.entities.MachineWeldInfo">
        <id property="id"  column="id"></id>
        <result property="machineNo" column="machine_no"></result>
        <result property="status" column="status"></result>
        <result property="type" column="type"></result>
        <result property="firm" column="firm"></result>
        <result property="model" column="model"></result>
        <result property="deptId" column="dept_id"></result>
        <result property="isNetwork" column="is_network"></result>
        <result property="createTime" column="create_time"></result>
    </association>
</resultMap>

    <!--设备生产数据报表-->
    <select id="getList" resultMap="weldStatisticsData">
        SELECT m.id,m.machine_no,m.dept_id,d.NAME,COUNT( DISTINCT s.welderId ) count,
	    GROUP_CONCAT( DISTINCT s.welderNo ) welderNo,COUNT( DISTINCT s.taskId ) count2,
	    GROUP_CONCAT( DISTINCT s.taskNo ) taskNo,
        CONCAT(FLOOR(SUM(s.weldDuration)/3600),':',FLOOR(SUM(s.weldDuration)%3600/60),':',FLOOR(SUM(s.weldDuration)%3600%60)) onOffTime,
        CONCAT(FLOOR(SUM(s1.weldDuration)/3600),':',FLOOR(SUM(s1.weldDuration)%3600/60),':',FLOOR(SUM(s1.weldDuration)%3600%60)) realWeldTime,
        CONCAT(FLOOR(SUM(s2.weldDuration)/3600),':',FLOOR(SUM(s2.weldDuration)%3600/60),':',FLOOR(SUM(s2.weldDuration)%3600%60)) normalTime,
        CONCAT(FLOOR(SUM(s3.weldDuration)/3600),':',FLOOR(SUM(s3.weldDuration)%3600/60),':',FLOOR(SUM(s3.weldDuration)%3600%60)) supergageTime,
	    CONVERT (sum(s1.weldDuration)/SUM(s.weldDuration)*100,DECIMAL(10,2)) weldingEfficiency,
	    CONVERT (sum(s2.weldDuration)/SUM(s1.weldDuration)*100,DECIMAL(10,2)) standardPercentage,
	    CONVERT (sum(s.wireFeedRate*s.weldDuration)/600,DECIMAL(10,2)) materialsConsumption,
	    CONVERT (sum((s.electricity*s.voltage*s.weldDuration)/3600/1000)+(s.weldDuration-s1.weldDuration)/36000,DECIMAL(10,2)) powerConsumption
        FROM machine_weld_info m
        LEFT JOIN sys_dept d ON m.dept_id = d.id
        INNER JOIN weld_statistics_data s ON d.id = s.machineDeptId AND m.id = s.machineId
        AND s.startTime &gt;= #{time1}
        AND s.endTime &lt;= #{time2}
        LEFT JOIN weld_statistics_data s1 ON s.id = s1.id AND s1.weldStatus IN (3,5,7,99)
        LEFT JOIN weld_statistics_data s2 ON s1.id = s2.id AND s2.weldStatus IN (3,5,7)
        LEFT JOIN weld_statistics_data s3 ON s1.id = s3.id AND s3.weldStatus = 99
        <where>
            <if test="machineNo!=null and machineNo!=''">
                m.machine_no = #{machineNo}
            </if>
            <if test="name!=null and name!=''">
               and d.NAME = #{name}
            </if>
        </where>
        GROUP BY m.machine_no
    </select>

    <!--根据部门id查询部门信息-->
    <select id="getName" resultType="java.lang.String">
        select name from sys_dept where id=#{deptId}
    </select>
</mapper>
