<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.data.historicalCurve.dao.HistoricalCurveDao">

    <select id="getList" resultType="com.gw.entities.RtData">
        SELECT
        weldTime,
        electricity,
        voltage
        FROM
        <foreach collection="list" item="tableName" open="("
                 close=")" separator="UNION ALL">
            ${tableName}
        </foreach>
        WHERE
        weldTime &gt;= #{startTime}
        AND weldTime &lt;= #{endTime}

    </select>
    <select id="get" resultType="com.gw.entities.RtData">
        select * from rtdata20210605
    </select>

</mapper>
