<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.data.historicalCurve.dao.HistoricalCurveDao">

    <!--焊机历史曲线-->
    <select id="getList" resultType="com.gw.entities.RtData">
        select tableInfo.weldTime,tableInfo.electricity,tableInfo.voltage
        from ${tableName} tableInfo
        where tableInfo.weldTime &gt;= #{startTime}
        <if test="endTime != null and endTime != ''">
            and tableInfo.weldTime &lt;= #{endTime}
        </if>
        <if test="taskId != null and taskId != ''">
            and tableInfo.taskId = #{taskId}
        </if>
        <if test="welderId != null and welderId != ''">
            and tableInfo.welderId = #{welderId}
        </if>
        <if test="weldMachineId != null and weldMachineId != ''">
            and tableInfo.machineId = #{weldMachineId}
        </if>
    </select>

    <!--焊机历史曲线信息列表-->
    <select id="selectHistoryCurveInfos" resultType="com.gw.entities.RtData">
        select task.id taskId,task.task_no,task.reality_starttime taskRealityStartTime,task.reality_endtime taskRealityEndTime,
        welder.id welderId,welder.welder_name,welder.welder_no,weld.id machineId,weld.machine_no
        from task_claim claim
        left join task_info task on task.id = claim.task_id
        left join welder_info welder on welder.id = claim.welder_id
        left join machine_weld_info weld on weld.id = claim.weld_id
        where claim.claim_time &gt;= #{startTime} and claim.claim_time &lt;= #{endTime}
        <if test="taskId != null and taskId != ''">
            and tableInfo.taskId = #{taskId}
        </if>
        <if test="welderId != null and welderId != ''">
            and tableInfo.welderId = #{welderId}
        </if>
        <if test="weldMachineId != null and weldMachineId != ''">
            and tableInfo.machineId = #{weldMachineId}
        </if>
        GROUP BY task.id,welder.id,weld.id
    </select>

    <!--判断表是否存在-->
    <select id="tableExistYesOrNo" parameterType="String" resultType="Integer">
        select table_rows
        from information_schema.TABLES
        where `TABLE_NAME` = #{tableName}
    </select>

    <!--焊机历史曲线-->
    <select id="getHistoryCurveByTableName" resultType="com.gw.entities.RtData">
        select tableInfo.weldTime,tableInfo.electricity,tableInfo.voltage
        from ${tableName} tableInfo
        <where>
            <if test="taskId != null and taskId != ''">
                and tableInfo.taskId = #{taskId}
            </if>
            <if test="welderId != null and welderId != ''">
                and tableInfo.welderId = #{welderId}
            </if>
            <if test="weldMachineId != null and weldMachineId != ''">
                and tableInfo.machineId = #{weldMachineId}
            </if>
        </where>
    </select>

</mapper>
