<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.data.person.dao.PersonDao">
    <resultMap id="WeldStatisticsData" type="com.gw.entities.WeldStatisticsData">
		<id property="id"  column="id"></id>
		<result property="weldModel" column="weldModel"></result>
		<result property="gatherNo" column="gatherNo"></result>
		<result property="welderNo" column="welderNo"></result>
		<result property="weldStatus" column="weldStatus"></result>
		<result property="weldDuration" column="weldDuration"></result>
		<result property="machineId" column="machineId"></result>
		<result property="machineNo" column="machineNo"></result>
		<result property="machineDeptId" column="machineDeptId"></result>
		<result property="gatherId" column="gatherId"></result>
		<result property="gatherDeptId" column="gatherDeptId"></result>
		<result property="welderId" column="welderId"></result>
		<result property="welderName" column="welderName"></result>
		<result property="welderDeptId" column="welderDeptId"></result>
		<result property="taskId" column="taskId"></result>
		<result property="taskName" column="taskName"></result>
		<result property="taskNo" column="taskNo"></result>
		<result property="createTime" column="createTime"></result>
		<result property="startTime" column="startTime"></result>
		<result property="endTime" column="endTime"></result>
		<result property="electricity" column="electricity"></result>
		<result property="voltage" column="voltage"></result>
		<result property="wireFeedRate" column="wireFeedRate"></result>
		<result property="wireDiameter" column="wireDiameter"></result>
		<result property="wireMaterialsGases" column="wireMaterialsGases"></result>
		<result property="count" column="count"></result>
		<result property="count2" column="count2"></result>
		<result property="count3" column="count3"></result>
		<result property="count4" column="count4"></result>
		<result property="count5" column="count5"></result>
		<result property="utilization" column="utilization"></result>
		<result property="time" column="time"></result>
		<result property="time2" column="time2"></result>
		<result property="utilization2" column="utilization2"></result>
    <association property="welderInfo" javaType="com.gw.entities.WelderInfo">
        <id property="id"  column="id"></id>
        <result property="welderName" column="welder_name"></result>
        <result property="welderNo" column="welder_no"></result>
    </association>
    </resultMap>
    <select id="getList" resultMap="WeldStatisticsData">
		select
		a.*,
		b.*,
		c.*,
		d.*,
		cast(c.time / d.time2 *100 as decimal (13,2)) utilization
		from
		( select distinct
		wsd.welderNo, w.welder_name
		from
		weld_statistics_data wsd, welder_info w
		<where>
			wsd.welderId = w.id
			<if test="time1!=null and time2!=''">
				and wsd.startTime &gt;= #{time1}
			</if>
			<if test="time2!=null and time2!=''">
				and wsd.endTime &lt;= #{time2}
			</if>
		</where>
		) a,
		(
		select
		count( wsd.welderId ) count,
		wsd.welderNo
		from
		weld_statistics_data wsd,
		welder_info w
		where
		wsd.taskId != 0
		and wsd.welderId = w.id
		group by
		wsd.welderNo
		) b,(
		select
		SEC_TO_TIME(
		count( wsd.id )) time,
		w.welder_no
		from
		weld_statistics_data wsd,
		welder_info w
		where
		wsd.welderId = w.id
		and ( wsd.weldStatus = 3 or wsd.weldStatus = 99 )
		group by
		w.welder_no
		) c,(
		select
		SEC_TO_TIME(
		count( wsd.id )) time2,
		w.welder_no
		from
		weld_statistics_data wsd,
		welder_info w
		where
		wsd.welderId = w.id
		and (
		wsd.weldStatus = 0
		or wsd.weldStatus = 3
		or wsd.weldStatus = 5
		or wsd.weldStatus = 7
		or wsd.weldStatus = 99
		)
		group by
		w.welder_no
		) d
		where
		a.welderNo = b.welderNo
		and a.welderNo = c.welder_no
		and a.welderNo = d.welder_no
    </select>
</mapper>