<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.data.productionTask.dao.ProductionTaskDao">

    <resultMap id="weldStatisticsData" type="com.gw.entities.WeldStatisticsDataProductionTask">
        <id property="id"  column="id"></id>
        <result property="weldModel" column="weldModel"></result>
        <result property="gatherNo" column="gatherNo"></result>
        <result property="welderNo" column="welderNo"></result>
        <result property="weldStatus" column="weldStatus"></result>
        <result property="weldDuration" column="weldDuration"></result>
        <result property="machineId" column="machineId"></result>
        <result property="machineNo" column="machineNo"></result>
        <result property="machineDeptId" column="machineDeptId"></result>
        <result property="gatherId" column="gatherId"></result>
        <result property="gatherDeptId" column="gatherDeptId"></result>
        <result property="welderId" column="welderId"></result>
        <result property="welderName" column="welderName"></result>
        <result property="welderDeptId" column="welderDeptId"></result>
        <result property="taskId" column="taskId"></result>
        <result property="taskName" column="taskName"></result>
        <result property="taskNo" column="taskNo"></result>
        <result property="createTime" column="createTime"></result>
        <result property="startTime" column="startTime"></result>
        <result property="endTime" column="endTime"></result>
        <result property="electricity" column="electricity"></result>
        <result property="voltage" column="voltage"></result>
        <result property="wireFeedRate" column="wireFeedRate"></result>
        <result property="wireDiameter" column="wireDiameter"></result>
        <result property="wireMaterialsGases" column="wireMaterialsGases"></result>
    </resultMap>

    <!--生产任务详情数据报表-->
    <select id="getList" resultType="com.gw.entities.WeldStatisticsDataProductionTask">
        SELECT p.welder_no welderNo,p.welder_name welderName,p.machine_no machineNo,p.task_no taskNo,p.`NAME` deptName,
        p.reality_starttime startTime,p.reality_endtime endTime,p.eleScope eleScope,
        SUM(p.electricity)/2 electricity,p.volScope volScope,SUM(p.voltage)/2 voltage,p.task_id,p.weld_id,p.welder_id
        FROM(SELECT w.welder_no,w.welder_name,m.machine_no,t.task_no,d.NAME,t.reality_starttime,t.reality_endtime,
        CONCAT( t.eleMin, '~', t.eleMax ) eleScope,
        CONVERT (AVG(s.electricity),DECIMAL (10,2)) electricity,CONCAT(t.volMin,'~',t.volMax) volScope,
        CONVERT (AVG(s.voltage),DECIMAL (10,2)) voltage,c.weld_id,c.welder_id,c.task_id
        FROM task_claim c
        INNER JOIN welder_info w ON c.welder_id = w.id
        INNER JOIN machine_weld_info m ON c.weld_id = m.id
        INNER JOIN task_info t ON c.task_id = t.id
        AND t.reality_starttime &gt;= #{time1} AND t.reality_starttime &lt;= #{time2}
        LEFT JOIN sys_dept d ON d.id = t.dept_id
        LEFT JOIN weld_statistics_data s ON c.task_id = s.taskId
        AND c.weld_id = s.machineId AND c.welder_id = s.welderId AND s.weldStatus IN (3,99)
        <where>
            d.id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            <if test="welderNo!=null and welderNo!=''">
                w.welder_no = #{welderNo}
            </if>
            <if test="welderName!=null and welderName!=''">
                and w.welder_name = #{welderName}
            </if>
            <if test="machineNo!=null and machineNo!=''">
                and m.machine_no = #{machineNo}
            </if>
            <if test="taskNo!=null and taskNo!=''">
                and t.task_no = #{taskNo}
            </if>
        </where>
        GROUP BY c.task_id,c.weld_id,c.welder_id
        UNION ALL
        SELECT w.welder_no,w.welder_name,m.weld_cid machine_no,t.task_no,d.NAME,t.reality_starttime,t.reality_endtime,
        CONCAT( t.eleMin, '~', t.eleMax ) eleScope,
        CONVERT (AVG(sx.realityWeldEle),DECIMAL (10,2)) electricity,CONCAT(t.volMin,'~',t.volMax) volScope,
        CONVERT (AVG(sx.realityWeldVol),DECIMAL (10,2)) voltage,c.weld_id,c.welder_id,c.task_id
        FROM task_claim c
        INNER JOIN welder_info w ON c.welder_id = w.id
        INNER JOIN machine_weldsx_info m ON c.weld_id = m.id
        INNER JOIN task_info t ON c.task_id = t.id
        AND t.reality_starttime &gt;= #{time1} AND t.reality_starttime &lt;= #{time2}
        LEFT JOIN sys_dept d ON d.id = t.dept_id
        LEFT JOIN weldsx_statistics_data sx ON c.task_id = sx.taskId AND c.welder_id = sx.welderId AND sx.weldStatus NOT IN (0,3,4,6,9)
        <where>
            d.id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            <if test="welderNo!=null and welderNo!=''">
                w.welder_no = #{welderNo}
            </if>
            <if test="welderName!=null and welderName!=''">
                and w.welder_name = #{welderName}
            </if>
            <if test="machineNo!=null and machineNo!=''">
                and m.weld_no = #{machineNo}
            </if>
            <if test="taskNo!=null and taskNo!=''">
                and t.task_no = #{taskNo}
            </if>
        </where>
        GROUP BY c.task_id,c.weld_id,c.welder_id) p
        group by p.task_id,p.weld_id,p.welder_id
    </select>
</mapper>
