<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.data.productionTask.dao.ProductionTaskDao">

    <resultMap id="weldStatisticsData" type="com.gw.entities.WeldStatisticsData">
        <id property="id"  column="id"></id>
        <result property="weldModel" column="weldModel"></result>
        <result property="gatherNo" column="gatherNo"></result>
        <result property="welderNo" column="welderNo"></result>
        <result property="weldStatus" column="weldStatus"></result>
        <result property="weldDuration" column="weldDuration"></result>
        <result property="machineId" column="machineId"></result>
        <result property="machineNo" column="machineNo"></result>
        <result property="machineDeptId" column="machineDeptId"></result>
        <result property="gatherId" column="gatherId"></result>
        <result property="gatherDeptId" column="gatherDeptId"></result>
        <result property="welderId" column="welderId"></result>
        <result property="welderName" column="welderName"></result>
        <result property="welderDeptId" column="welderDeptId"></result>
        <result property="taskId" column="taskId"></result>
        <result property="taskName" column="taskName"></result>
        <result property="taskNo" column="taskNo"></result>
        <result property="createTime" column="createTime"></result>
        <result property="startTime" column="startTime"></result>
        <result property="endTime" column="endTime"></result>
        <result property="electricity" column="electricity"></result>
        <result property="voltage" column="voltage"></result>
        <result property="wireFeedRate" column="wireFeedRate"></result>
        <result property="wireDiameter" column="wireDiameter"></result>
        <result property="wireMaterialsGases" column="wireMaterialsGases"></result>
        <result property="count" column="count"></result>
        <result property="count2" column="count2"></result>
        <result property="count3" column="count3"></result>
        <result property="count4" column="count4"></result>
        <result property="count5" column="count5"></result>
        <result property="weldingEfficiency" column="weldingEfficiency"></result>
        <result property="onOffTime" column="onOffTime"></result>
        <result property="realWeldTime" column="realWeldTime"></result>
        <result property="normalTime" column="normalTime"></result>
        <result property="supergageTime" column="supergageTime"></result>
        <result property="standardPercentage" column="standardPercentage"></result>
        <result property="materialsConsumption" column="materialsConsumption"></result>
        <result property="powerConsumption" column="powerConsumption"></result>
        <result property="time" column="time"></result>
        <result property="time2" column="time2"></result>
        <result property="eleScope" column="eleScope"></result>
        <result property="volScope" column="volScope"></result>
        <association property="taskClaim" javaType="com.gw.entities.TaskClaim">
            <id property="id" column="id"></id>
            <result property="welderId" column="welder_id"></result>
            <result property="taskId" column="task_id"></result>
            <result property="weldId" column="weld_id"></result>
        </association>
        <association property="taskInfo" javaType="com.gw.entities.TaskInfo">
            <id property="id" column="id"></id>
            <result property="taskNo" column="task_no"></result>
            <result property="realityStarttime" column="reality_starttime"></result>
            <result property="realityEndtime" column="reality_endtime"></result>
            <result property="eleMin" column="eleMin"></result>
            <result property="eleMax" column="eleMax"></result>
            <result property="volMin" column="volMin"></result>
            <result property="volMax" column="volMax"></result>
        </association>
        <association property="welderInfo" javaType="com.gw.entities.WelderInfo">
            <id property="id"  column="id"></id>
            <result property="welderName" column="welder_name"></result>
            <result property="welderNo" column="welder_no"></result>
        </association>
        <association property="machineWeldInfo" javaType="com.gw.entities.MachineWeldInfo">
            <id property="id"  column="id"></id>
            <result property="machineNo" column="machine_no"></result>
        </association>
    </resultMap>
    <select id="getList" resultMap="weldStatisticsData">
    SELECT
	w.welder_no,
	w.welder_name,
	m.machine_no,
	t.task_no,
	t.reality_starttime,
	t.reality_endtime,
	CONCAT( t.eleMin, '~', t.eleMax ),
	AVG( s.electricity ) electricity,
	CONCAT( t.volMin, '~', t.volMax ),
	AVG( s.voltage ) voltage
    FROM
	task_claim c
	INNER JOIN welder_info w ON c.welder_id = w.id
	INNER JOIN machine_weld_info m ON c.weld_id = m.id
	INNER JOIN task_info t ON c.task_id = t.id
	LEFT JOIN weld_statistics_data s ON c.task_id = s.taskId
	AND s.startTime &gt;= #{time1}
    AND s.endTime &lt;= #{time2}
	AND c.weld_id = s.machineId
	AND c.welder_id = s.welderId
	AND s.weldStatus IN ( 3, 99 )
GROUP BY
	c.task_id,
	c.weld_id,
	c.welder_id
    </select>
</mapper>