<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gw.process.craft.dao.SxCO2ProcessIssueDao">

    <resultMap id="sxCO2Map" type="com.gw.entities.SxCO2ProcessIssue">
        <id property="id" column="id"></id>
        <result property="weldCid" column="weld_cid"></result>
        <result property="channelNo" column="channel_no"></result>
        <result property="weldIp" column="weld_ip"></result>
        <result property="initialEleMax" column="initial_ele_max"></result>
        <result property="initialEleMin" column="initial_ele_min"></result>
        <result property="initialVolMax" column="initial_vol_max"></result>
        <result property="initialVolMin" column="initial_vol_min"></result>
        <result property="initialWireSpeedMax" column="initial_wire_speed_max"></result>
        <result property="initialWireSpeedMin" column="initialWireSpeedMin"></result>
        <result property="weldEleMax" column="weld_ele_max"></result>
        <result property="weldEleMin" column="weld_ele_min"></result>
        <result property="weldVolMax" column="weld_vol_max"></result>
        <result property="weldVolMin" column="weld_vol_min"></result>
        <result property="weldWireSpeedMax" column="weld_wire_speed_max"></result>
        <result property="weldWireSpeedMin" column="weld_wire_speed_min"></result>
        <result property="arcEleMax" column="arc_ele_max"></result>
        <result property="arcEleMin" column="arc_ele_min"></result>
        <result property="arcVolMax" column="arc_vol_max"></result>
        <result property="arcVolMin" column="arc_vol_min"></result>
        <result property="arcWireSpeedMax" column="arc_wire_speed_max"></result>
        <result property="arcWireSpeedMin" column="arc_wire_speed_min"></result>
        <result property="modeSelect" column="mode_select"></result>
        <result property="weldingControl" column="welding_control"></result>
        <result property="weldingManner" column="welding_manner"></result>
        <result property="texture" column="texture"></result>
        <result property="wireDiameter" column="wire_diameter"></result>
        <result property="gases" column="gases"></result>
        <result property="wireFeed" column="wire_feed"></result>
        <result property="checkGasStatus" column="check_gas_status"></result>
        <result property="cutStatus" column="cut_status"></result>
        <result property="lockStatus" column="lock_status"></result>
        <result property="eleShowSelect" column="ele_show_select"></result>
        <result property="rev" column="rev"></result>
        <result property="boardThickness" column="board_thickness"></result>
        <result property="spotWeldingTime" column="spot_welding_time"></result>
        <result property="volShowSelect" column="vol_show_select"></result>
        <result property="arcLength" column="arc_length"></result>
        <result property="arcCharacter" column="arc_character"></result>
        <result property="penetrationControl" column="penetration_control"></result>
        <result property="beforeAspiratedTime" column="before_aspirated_time"></result>
        <result property="afterStopGasTime" column="after_stop_gas_time"></result>
        <result property="unitaryDifference" column="unitary_difference"></result>
        <result property="nowChannel" column="now_channel"></result>
        <result property="dclInitialEleMax" column="dcl_initial_ele_max"></result>
        <result property="dclInitialEleMin" column="dcl_initial_ele_min"></result>
        <result property="dclWeldEleMax" column="dcl_weld_ele_max"></result>
        <result property="dclWeldEleMin" column="dcl_weld_ele_min"></result>
        <result property="dclArcEleMax" column="dcl_arc_ele_max"></result>
        <result property="dclArcEleMin" column="dcl_arc_ele_min"></result>
        <result property="startDelayTime" column="start_delay_time"></result>
        <result property="clAmendPeriod" column="cl_amend_period"></result>
        <result property="oaInitialEleMax" column="oa_initial_ele_max"></result>
        <result property="oaInitialEleMin" column="oa_initial_ele_min"></result>
        <result property="oaInitialVolMax" column="oa_initial_vol_max"></result>
        <result property="oaInitialVolMin" column="oa_initial_vol_min"></result>
        <result property="oaWeldEleMax" column="oa_weld_ele_max"></result>
        <result property="oaWeldEleMin" column="oa_weld_ele_min"></result>
        <result property="oaWeldVolMax" column="oa_weld_vol_max"></result>
        <result property="oaWeldVolMin" column="oa_weld_vol_min"></result>
        <result property="oaArcEleMax" column="oa_arc_ale_max"></result>
        <result property="oaArcEleMin" column="oa_arc_ele_min"></result>
        <result property="oaArcVolMax" column="oa_arc_vol_max"></result>
        <result property="oaArcVolMin" column="oa_arc_vol_min"></result>
        <result property="arcDelayTime" column="arc_delay_time"></result>
        <result property="alarmDelayTime" column="alarm_delay_time"></result>
        <result property="haltDelayTime" column="halt_delay_time"></result>
        <result property="haltFreezeTime" column="halt_freeze_time"></result>
    </resultMap>

    <!--松下co2列表查询-->
    <select id="selectSxCO2ProcessIssueInfos" resultMap="sxCO2Map">
        select id,weld_cid,channel_no,weld_ip,initial_ele_max,initial_ele_min,initial_vol_max,initial_vol_min,
               initial_wire_speed_max,initial_wire_speed_min,weld_ele_max,weld_ele_min,weld_vol_max,weld_vol_min,weld_wire_speed_max,
               weld_wire_speed_min,arc_ele_max,arc_ele_min,arc_vol_max,arc_vol_min,arc_wire_speed_max,arc_wire_speed_min,mode_select,
               welding_control,welding_manner,texture,wire_diameter,gases,wire_feed,check_gas_status,cut_status,lock_status,
               ele_show_select,rev,board_thickness,spot_welding_time,vol_show_select,arc_length,arc_character,penetration_control,
               before_aspirated_time,after_stop_gas_time,unitary_difference,now_channel,dcl_initial_ele_max,dcl_initial_ele_min,
               dcl_weld_ele_max,dcl_weld_ele_min,dcl_arc_ele_max,dcl_arc_ele_min,start_delay_time,cl_amend_period,oa_initial_ele_max,
               oa_initial_ele_min,oa_initial_vol_max,oa_initial_vol_min,oa_weld_ele_max,oa_weld_ele_min,oa_weld_vol_max,oa_weld_vol_min,
               oa_arc_ale_max,oa_arc_ele_min,oa_arc_vol_max,oa_arc_vol_min,arc_delay_time,alarm_delay_time,halt_delay_time,halt_freeze_time
        from sx_co2_process_issue
    </select>
</mapper>
