<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shth.das.sys.rtdata.mapper.RtDataMapper">

    <!-- 创建实时数据表结构 -->
    <update id="createNewTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS ${tableName} (
            `id`                 bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'ID',
            `weldModel`          int            DEFAULT NULL COMMENT '焊机型号',
            `gatherNo`           varchar(50)    DEFAULT NULL COMMENT '采集编号',
            `welderNo`           varchar(50)    DEFAULT NULL COMMENT '焊工号(卡号)',
            `weldTime`           datetime       DEFAULT NULL COMMENT '焊机时间',
            `electricity`        decimal(10, 0) DEFAULT NULL COMMENT '电流',
            `voltage`            decimal(10, 1) DEFAULT NULL COMMENT '电压',
            `wireFeedRate`       decimal(10, 1) DEFAULT NULL COMMENT '送丝速度',
            `presetEle`          decimal(10, 0) DEFAULT NULL COMMENT '预置(给定)电流',
            `presetVol`          decimal(10, 1) DEFAULT NULL COMMENT '预置(给定)电压',
            `weldedJunctionNo`   varchar(50)    DEFAULT NULL COMMENT '焊口号',
            `weldStatus`         int            DEFAULT '0' COMMENT '焊机状态',
            `wireDiameter`       decimal(10, 0) DEFAULT NULL COMMENT '焊丝直径',
            `wireMaterialsGases` decimal(10, 0) DEFAULT NULL COMMENT '焊丝材料和保护气体',
            `weldElectricity`    decimal(10, 0) DEFAULT NULL COMMENT '焊接电流',
            `weldVoltage`        decimal(10, 1) DEFAULT NULL COMMENT '焊接电压',
            `weldEleAdjust`      decimal(10, 0) DEFAULT NULL COMMENT '焊接电流微调',
            `weldVolAdjust`      decimal(10, 1) DEFAULT NULL COMMENT '焊接电压微调',
            `channelNo`          varchar(50)    DEFAULT NULL COMMENT '当前通道号',
            `alarmsEleMax`       decimal(10, 0) DEFAULT NULL COMMENT '报警电流上限',
            `alarmsEleMin`       decimal(10, 0) DEFAULT NULL COMMENT '报警电流下限',
            `alarmsVolMax`       decimal(10, 1) DEFAULT NULL COMMENT '报警电压上限',
            `alarmsVolMin`       decimal(10, 1) DEFAULT NULL COMMENT '报警电压下限',
            `machineId`          bigint(20) DEFAULT NULL COMMENT '焊机id',
            `machineNo`          varchar(50)    DEFAULT NULL COMMENT '焊机编号',
            `machineDeptId`      bigint(20) DEFAULT NULL COMMENT '焊机组织id',
            `gatherId`           bigint(20) DEFAULT NULL COMMENT '采集模块id',
            `gatherDeptId`       bigint(20) DEFAULT NULL COMMENT '采集模块组织id',
            `welderId`           bigint(20) DEFAULT 0 COMMENT '焊工id',
            `welderName`         varchar(50)    DEFAULT NULL COMMENT '焊工姓名',
            `welderDeptId`       bigint(20) DEFAULT NULL COMMENT '焊工组织id',
            `taskId`             bigint(20) DEFAULT 0 COMMENT '任务id',
            `taskName`           varchar(100)   DEFAULT NULL COMMENT '任务名称',
            `taskNo`             varchar(100)   DEFAULT NULL COMMENT '任务编号',
            `createTime`         datetime       DEFAULT NULL COMMENT '创建时间',
            PRIMARY KEY (`id`),
            KEY                  `task` (`taskId`,`machineId`,`welderId`) USING BTREE COMMENT '任务焊机焊工',
            KEY                  `weldTime` (`weldTime`) USING BTREE COMMENT '焊机时间'
        ) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8 COMMENT='实时数据表'
    </update>

    <!-- 实时数据批量存入 -->
    <insert id="insertRtDataList" parameterType="java.util.Map">
        insert into `${tableName}`(weldModel,gatherNo,welderNo,weldTime,electricity,voltage,wireFeedRate,presetEle,
        presetVol,weldedJunctionNo,weldStatus,wireDiameter,wireMaterialsGases,weldElectricity,weldVoltage,
        weldEleAdjust,weldVolAdjust,channelNo,alarmsEleMax,alarmsEleMin,alarmsVolMax,alarmsVolMin,machineId,machineNo,
        machineDeptId,gatherId,gatherDeptId,welderId,welderName,welderDeptId,taskId,taskName,taskNo,createTime) values
        <foreach collection="list" item="data" index="index" separator=",">
            (#{data.weldModel},#{data.gatherNo},#{data.welderNo},#{data.weldTime},#{data.electricity},#{data.voltage},#{data.wireFeedRate},
            #{data.presetEle},#{data.presetVol},#{data.weldedJunctionNo},#{data.weldStatus},#{data.wireDiameter},#{data.wireMaterialsGases},
            #{data.weldElectricity},#{data.weldVoltage},#{data.weldEleAdjust},#{data.weldVolAdjust},#{data.channelNo},#{data.alarmsEleMax},
            #{data.alarmsEleMin},#{data.alarmsVolMax},#{data.alarmsVolMin},#{data.machineId},#{data.machineNo},#{data.machineDeptId},
            #{data.gatherId},#{data.gatherDeptId},#{data.welderId},#{data.welderName},#{data.welderDeptId},#{data.taskId},#{data.taskName},
            #{data.taskNo},#{data.createTime})
        </foreach>
    </insert>

</mapper>