<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gw.sys.dao.DeptAreaBayDao">

    <!--班组区域跨间绑定-->
    <insert id="insertDeptTOAreaAndBay" parameterType="com.gw.entities.DeptAreaBayInfo">
        insert into dept_area_bay(dept_id,area_id,bay_id,creat_time)
        values
        <foreach collection="bayIds" item="item" index="index" separator=",">
            (#{deptId},#{areaId},#{item},#{time})
        </foreach>
    </insert>

    <!--删除班组区域跨间绑定-->
    <delete id="deleteDeptTOAreaAndBay" parameterType="Long">
        delete from dept_area_bay where dept_id = #{deptId}
    </delete>

    <!--根据作业区id、区域id获取部门列表信息-->
    <select id="selectDeptAreaBayInfos" parameterType="Long" resultType="com.gw.entities.DeptAreaBayInfo">
        select dea.bay_id bayId,dic.value_name bay from dept_area_bay dea
        left join sys_dictionary dic on dea.bay_id = dic.id
        where dea.dept_id = #{deptId} and dea.area_id
    </select>
</mapper>
