<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gw.service.equipment.collection.dao.FirmMachineDao">

    <resultMap id="firmMachineMap" type="com.gw.entities.FirmMachineInfo">
        <id property="id" column="id"></id>
        <result property="firmId" column="firm_id"></result>
        <result property="machineId" column="machine_id"></result>
        <result property="remarks" column="remarks"></result>
    </resultMap>

    <!--绑定厂家、设备-->
    <insert id="insertFirmMachineInfo" parameterType="com.gw.entities.FirmMachineInfo">
        insert into firm_machine(firm_id,machine_id) values(#{firmMachineInfo.firmId},#{firmMachineInfo.machineId})
    </insert>

    <!--根据厂家id删除 厂家设备绑定信息-->
    <delete id="deleteFirmMachineInfo" parameterType="Long">
        delete from firm_machine where firm_id = #{firmId}
    </delete>
</mapper>
