<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.service.data.person.dao.PersonDao">
	<resultMap id="weldStatisticsData" type="com.gw.entities.WeldStatisticsDataPerson">
		<id property="id"  column="id"></id>
		<result property="weldModel" column="weldModel"></result>
		<result property="gatherNo" column="gatherNo"></result>
		<result property="welderNo" column="welderNo"></result>
		<result property="weldStatus" column="weldStatus"></result>
		<result property="weldDuration" column="weldDuration"></result>
		<result property="machineId" column="machineId"></result>
		<result property="machineNo" column="machineNo"></result>
		<result property="machineDeptId" column="machineDeptId"></result>
		<result property="gatherId" column="gatherId"></result>
		<result property="gatherDeptId" column="gatherDeptId"></result>
		<result property="welderId" column="welderId"></result>
		<result property="welderName" column="welderName"></result>
		<result property="welderDeptId" column="welderDeptId"></result>
		<result property="taskId" column="taskId"></result>
		<result property="taskName" column="taskName"></result>
		<result property="taskNo" column="taskNo"></result>
		<result property="createTime" column="createTime"></result>
		<result property="startTime" column="startTime"></result>
		<result property="endTime" column="endTime"></result>
		<result property="electricity" column="electricity"></result>
		<result property="voltage" column="voltage"></result>
		<result property="wireFeedRate" column="wireFeedRate"></result>
		<result property="wireDiameter" column="wireDiameter"></result>
		<result property="wireMaterialsGases" column="wireMaterialsGases"></result>
    </resultMap>

	<!--人员生产数据报表-->
    <select id="getList" resultType="com.gw.entities.WeldStatisticsDataPerson">
		SELECT p.id,p.welder_name welderName,p.welder_no welderNo,p.NAME deptName,
		p.taskNo,SUM(p.count) taskCount,p.machineNo,SUM(p.count2) useMachineCount,
		CONCAT(FLOOR(SUM(p.onOffTime)/3600),':',FLOOR(SUM(p.onOffTime)%3600/60),':',FLOOR(SUM(p.onOffTime)%3600%60)) onOffTime,
		CONCAT(FLOOR(SUM(p.realWeldTime)/3600),':',FLOOR(SUM(p.realWeldTime)%3600/60),':',FLOOR(SUM(p.realWeldTime)%3600%60)) realWeldTime,
		CONCAT(FLOOR(SUM(p.normalTime)/3600),':',FLOOR(SUM(p.normalTime)%3600/60),':',FLOOR(SUM(p.normalTime)%3600%60)) normalTime,
		CONCAT(FLOOR(SUM(p.supergageTime)/3600),':',FLOOR(SUM(p.supergageTime)%3600/60),':',FLOOR(SUM(p.supergageTime)%3600%60)) supergageTime,
		p.weldingEfficiency*100 weldingEfficiency,
		p.standardPercentage*100 standardPercentage,
		p.materialsConsumption materialsConsumption,
		p.powerConsumption powerConsumption
		FROM(SELECT w.id,w.welder_name,w.welder_no,d.NAME,GROUP_CONCAT(DISTINCT s.taskNo) taskNo,
		COUNT(DISTINCT s.taskId) count,GROUP_CONCAT(DISTINCT s.machineNo) machineNo,
		COUNT(DISTINCT s.machineId) count2,
		SUM(s.weldDuration) onOffTime,
		SUM(s1.weldDuration) realWeldTime,
		SUM(s2.weldDuration) normalTime,
		SUM(s3.weldDuration) supergageTime,
		CONVERT (SUM(s1.weldDuration)/SUM(s.weldDuration),DECIMAL(10,2)) weldingEfficiency,
		CONVERT (SUM(s2.weldDuration)/SUM(s1.weldDuration), DECIMAL(10,2)) standardPercentage,
		CONVERT (sum(s.wireFeedRate * s.weldDuration)/600,DECIMAL(10,2)) materialsConsumption,
		CONVERT (sum((s.electricity * s.voltage * s.weldDuration )/3600/1000)+(s.weldDuration-s1.weldDuration)/36000,DECIMAL(10,2)) powerConsumption
		FROM welder_info w
		INNER JOIN sys_dept d ON w.dept_id = d.id
		LEFT JOIN weld_statistics_data s ON d.id = s.welderDeptId AND w.id = s.welderId
		AND s.startTime &gt;= #{time1} AND s.endTime &lt;= #{time2}
		LEFT JOIN weld_statistics_data s1 ON s.id = s1.id AND s1.weldStatus IN (3,5,7,99)
		LEFT JOIN weld_statistics_data s2 ON s1.id = s2.id AND s2.weldStatus IN (3,5,7)
		LEFT JOIN weld_statistics_data s3 ON s1.id = s3.id AND s3.weldStatus = 99
		<where>
			d.id in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
			<if test="welderNo!=null and welderNo!=''">
				and w.welder_no = #{welderNo}
			</if>
			<if test="welderName!=null and welderName!=''">
				and w.welder_name = #{welderName}
			</if>
		</where>
		GROUP BY w.id
		UNION ALL
		SELECT w.id,w.welder_name,w.welder_no,d.NAME,GROUP_CONCAT(DISTINCT sx.taskNo) taskNo,
		COUNT(DISTINCT sx.taskId) count,GROUP_CONCAT(DISTINCT sx.weldCode) machineNo,
		COUNT(DISTINCT sx.weldCid) count2,
		SUM(sx.weldSuration) onOffTime,
		SUM(sx1.weldSuration) realWeldTime,
		SUM(sx1.weldSuration) normalTime,
		0 supergageTime,
		CONVERT (SUM(sx2.weldSuration)/SUM(sx1.weldSuration),DECIMAL(10,2)) weldingEfficiency,
		100 standardPercentage,
		CONVERT (sum(sx2.realityWireSpeed*sx2.weldSuration)/600,DECIMAL(10,2)) materialsConsumption,
		CONVERT (sum((sx1.realityWeldEle*sx1.realityWeldVol*sx1.weldSuration)/3600/1000)+(sx1.weldSuration-sx2.weldSuration)/36000,DECIMAL (10,2)) powerConsumption
		FROM welder_info w
		LEFT JOIN sys_dept d ON w.dept_id = d.id
		INNER JOIN weldsx_statistics_data sx ON d.id = sx.welderDeptId AND w.id = sx.welderId
		AND sx.startTime &gt;= #{time1} AND sx.endTime &lt;= #{time2}
		LEFT JOIN machine_weldsx_info m ON m.weld_cid = sx.weldCid
		LEFT JOIN weldsx_statistics_data sx1 ON sx.id = sx1.id AND sx1.weldStatus NOT IN (0,3,4,6,9)
		LEFT JOIN weldsx_statistics_data sx2 ON sx1.id = sx2.id AND sx2.weldStatus NOT IN (3,4,6,9)
		<where>
			d.id in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
			<if test="welderNo!=null and welderNo!=''">
				w.welder_no = #{welderNo}
			</if>
			<if test="welderName!=null and welderName!=''">
				and w.welder_name = #{welderName}
			</if>
		</where>
		GROUP BY w.id) p
		group by p.id
    </select>
</mapper>
