<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gw.service.process.solderer.dao.SoldererDao">

    <resultMap id="solderer" type="com.gw.entities.WelderInfo">
        <id property="id"  column="id"></id>
        <result property="welderName" column="welder_name"></result>
        <result property="welderNo" column="welder_no"></result>
        <result property="deptId" column="dept_id"></result>
        <result property="gender" column="gender"></result>
        <result property="cellphone" column="cellphone"></result>
        <result property="rank" column="rank"></result>
        <result property="certification" column="certification"></result>
        <result property="remarks" column="remarks"></result>
        <result property="status" column="status"></result>
    </resultMap>

    <select id="getList" resultMap="solderer">
        select welder.id,welder.welder_name,welder.cellphone,welder.welder_no,welder.remarks,welder.dept_id,
        welder.rank,welder.dept_id,welder.certification,
        dic.value_name rankStr,dic1.value_name certificationStr,dic2.value_name sex,dept.`name` deptName
        from welder_info welder
	    left join sys_dictionary dic on welder.rank = dic.id
	    left join sys_dictionary dic1 on welder.certification = dic1.id
	    left join sys_dictionary dic2 on welder.gender = dic2.id
	    left join sys_dept dept on welder.dept_id = dept.id
	    <where>
            <if test="welderName != null and welderName != ''">
                and  welder.welder_name = #{welderName}
            </if>
            <if test="welderNo != null and welderNo != ''">
                and  welder.welder_no = #{welderNo}
            </if>
            <if test="rate != null and rate != ''">
                and  welder.rank = #{rate}
            </if>
            <if test="talent != null and talent != ''">
                and  welder.certification = #{talent}
            </if>
            <if test="grade != null and grade != ''">
                and  welder.dept_id = #{grade}
            </if>
        </where>
    </select>

    <insert id="addSolderer">
        insert into welder_info(welder_no,welder_name,cellphone,rank,certification,dept_id,remarks)
        values (#{welderInfo.welderNo},#{welderInfo.welderName},#{welderInfo.cellphone},
                #{welderInfo.rank},#{welderInfo.certification},#{welderInfo.deptId},#{welderInfo.remarks})
        ON DUPLICATE KEY UPDATE
         welder_no = #{welderInfo.welderNo},
         welder_name = #{welderInfo.welderName},
         cellphone = #{welderInfo.status},
         rank = #{welderInfo.rank},
         certification = #{welderInfo.certification},
         dept_id = #{welderInfo.deptId},
         remarks = #{welderInfo.remarks}
    </insert>

    <select id="getById" resultType="com.gw.entities.WelderInfo">
    select id,welder_name,cellphone,welder_no,remarks,rank,certification,dept_id
    from welder_info
    where id =#{id}
    </select>

    <update id="updateSolderer">
        update welder_info
        <trim prefix="set" suffixOverrides=",">
            <if test="welderNo != null and welderNo !=''">welder_no=#{welderNo},</if>
            <if test="welderName != null and welderName !=''">welder_name=#{welderName},</if>
            <if test="rank != null and rank !=''">rank=#{rank},</if>
            <if test="certification != null and certification !=''">certification=#{certification},</if>
            <if test="deptId != null and deptId !=''">dept_id=#{deptId},</if>
            cellphone=#{cellphone},
            remarks=#{remarks}
        </trim>
        where id=#{id}
    </update>

    <delete id="deleteSolderer">
        delete from welder_info where id=#{id}
    </delete>

    <select id="getRankId" resultType="java.lang.Byte">
        select id from sys_dictionary where value_name=#{rank}
    </select>

    <select id="getCertificationId" resultType="java.lang.Byte">
         select id from sys_dictionary where value_name = #{certification}
    </select>

    <select id="getDeptId" resultType="java.lang.Long">
        select id from sys_dept where name=#{deptName} limit 1
    </select>

    <insert id="save" parameterType="com.gw.entities.WelderInfo">
        insert into welder_info(welder_no,welder_name,cellphone,rank,certification,dept_id,remarks)
        values (#{welderInfo.welderNo},#{welderInfo.welderName},#{welderInfo.cellphone},
                #{welderInfo.rank},#{welderInfo.certification},#{welderInfo.deptId},#{welderInfo.remarks})
    </insert>

    <!--获取历史曲线中焊工id、姓名以及编号-->
    <select id="selectHistoryWelderInfos" resultType="com.gw.entities.WelderInfo">
        select id,welder_name welderName,welder_no welderNo from welder_info
    </select>

    <!--判断焊工编号是否存在-->
    <select id="judgeWelderNoYesOrNo" resultType="java.lang.Integer">
        select (1) from welder_info where welder_no = #{WelderNo} and id != #{id}
    </select>

    <!--根据焊工编号 查询 焊工信息-->
    <select id="selectWelderInfoByWelderNo" parameterType="String" resultType="Long">
        select id from welder_info where welder_no = #{WelderNo}
    </select>

    <!--焊工信息批量插入-->
    <insert id="insertWelderInfos" parameterType="ArrayList">
        insert into welder_info(welder_no,welder_name,cellphone,rank,certification,dept_id,remarks)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.welderNo},#{item.welderName},#{item.cellphone},#{item.rank},
            #{item.certification},#{item.deptId},#{item.remarks})
        </foreach>
    </insert>

</mapper>
