<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gw.process.craft.dao.SxTIGProcessIssueDao">

    <resultMap id="sxTIGMap" type="com.gw.entities.SxTIGProcessIssue">
        <id property="id" column="id"></id>
        <result property="wpsLibraryId" column="wps_library_id"></result>
        <result property="channelNo" column="channel_no"></result>
        <result property="initialEleMax" column="initial_ele_max"></result>
        <result property="initialEleMin" column="initial_ele_min"></result>
        <result property="initialVolMax" column="initial_vol_max"></result>
        <result property="initialVolMin" column="initial_vol_min"></result>
        <result property="firstWeldEleMax" column="first_weld_ele_max"></result>
        <result property="firstWeldEleMin" column="first_weld_ele_min"></result>
        <result property="firstWeldVolMax" column="first_weld_vol_max"></result>
        <result property="firstWeldVolMin" column="first_weld_vol_min"></result>
        <result property="secondWeldEleMax" column="second_weld_ele_max"></result>
        <result property="secondWeldEleMin" column="second_weld_ele_min"></result>
        <result property="secondWeldVolMax" column="second_weld_vol_max"></result>
        <result property="secondWeldVolMin" column="second_weld_vol_min"></result>
        <result property="arcEleMax" column="arc_ele_max"></result>
        <result property="arcEleMin" column="arc_ele_min"></result>
        <result property="arcVolMax" column="arc_vol_max"></result>
        <result property="arcVolMin" column="arc_vol_min"></result>
        <result property="peakWeldEleMax" column="peak_weld_ele_max"></result>
        <result property="peakWeldEleMin" column="peak_weld_ele_min"></result>
        <result property="peakWeldVolMax" column="peak_weld_vol_max"></result>
        <result property="peakWeldVolMin" column="peak_weld_vol_min"></result>
        <result property="weldMethod" column="weld_method"></result>
        <result property="arcHaveNot" column="arc_have_not"></result>
        <result property="pulseHaveNot" column="pulse_have_not"></result>
        <result property="acWaveform" column="ac_waveform"></result>
        <result property="pulseRate" column="pulse_rate"></result>
        <result property="pulseFrequency" column="pulse_frequency"></result>
        <result property="cleanWidth" column="clean_width"></result>
        <result property="acFrequency" column="ac_frequency"></result>
        <result property="mixFrequency" column="mix_frequency"></result>
        <result property="mixAcRate" column="mix_ac_rate"></result>
        <result property="pulseRadian" column="pulse_radian"></result>
        <result property="arcStiffness" column="arc_stiffness"></result>
        <result property="handWeldThrust" column="hand_weld_thrust"></result>
        <result property="beforeAspiratedTime" column="before_aspirated_time"></result>
        <result property="afterStopGasTime" column="after_stop_gas_time"></result>
        <result property="mainWeldRiseTime" column="main_weld_rise_time"></result>
        <result property="mainWeldDeclineTime" column="main_weld_decline_time"></result>
        <result property="mainWeldRiseRadian" column="main_weld_rise_radian"></result>
        <result property="mainWeldDeclineRadian" column="main_weld_decline_radian"></result>
        <result property="spotWeldingTime" column="spot_welding_time"></result>
        <result property="spotWeldIntervalTime" column="spot_weld_interval_time"></result>
        <result property="spotWeldRiseTime" column="spot_weld_rise_time"></result>
        <result property="spotWeldDeclineTime" column="spot_weld_decline_time"></result>
        <result property="spotWeldRiseRadian" column="spot_weld_rise_radian"></result>
        <result property="spotWeldDeclineRadian" column="spot_weld_decline_radian"></result>
        <result property="maxChannel" column="max_channel"></result>
        <result property="nowChannel" column="now_channel"></result>
        <result property="handWeldWeldEle" column="hand_weld_weld_ele"></result>
        <result property="handWeldArcEle" column="hand_weld_arc_ele"></result>
        <result property="dclInitialEleMax" column="dcl_initial_ele_max"></result>
        <result property="dclInitialEleMin" column="dcl_initial_ele_min"></result>
        <result property="dclWeldEleMax" column="dcl_weld_ele_max"></result>
        <result property="dclWeldEleMin" column="dcl_weld_ele_min"></result>
        <result property="dclSecondWeldEleMax" column="dcl_second_weld_ele_max"></result>
        <result property="dclSecondWeldEleMin" column="dcl_second_weld_ele_min"></result>
        <result property="dclArcEleMax" column="dcl_arc_ele_max"></result>
        <result property="dclArcEleMin" column="dcl_arc_ele_min"></result>
        <result property="startDelayTime" column="start_delay_time"></result>
        <result property="clAmendPeriod" column="cl_amend_period"></result>
        <result property="oaInitialEleMax" column="oa_initial_ele_max"></result>
        <result property="oaInitialEleMin" column="oa_initial_ele_min"></result>
        <result property="oaInitialVolMax" column="oa_initial_vol_max"></result>
        <result property="oaInitialVolMin" column="oa_initial_vol_min"></result>
        <result property="oaWeldEleMax" column="oa_weld_ele_max"></result>
        <result property="oaWeldEleMin" column="oa_weld_ele_min"></result>
        <result property="oaWeldVolMax" column="oa_weld_vol_max"></result>
        <result property="oaWeldVolMin" column="oa_weld_vol_min"></result>
        <result property="oaSecondWeldEleMax" column="oa_second_weld_ele_max"></result>
        <result property="oaSecondWeldEleMin" column="oa_second_weld_ele_min"></result>
        <result property="oaSecondWeldVolMax" column="oa_second_weld_vol_max"></result>
        <result property="oaSecondWeldVolMin" column="oa_second_weld_vol_min"></result>
        <result property="oaArcEleMax" column="oa_arc_ele_max"></result>
        <result property="oaArcEleMin" column="oa_arc_ele_min"></result>
        <result property="oaArcVolMax" column="oa_arc_vol_max"></result>
        <result property="oaArcVolMin" column="oa_arc_vol_min"></result>
        <result property="arcDelayTime" column="arc_delay_time"></result>
        <result property="alarmDelayTime" column="alarm_delay_time"></result>
        <result property="haltDelayTime" column="halt_delay_time"></result>
        <result property="haltFreezeTime" column="halt_freeze_time"></result>
    </resultMap>

    <!--查询松下TIG列表信息-->
    <select id="selectSxTIGProcessIssueInfos" resultMap="sxTIGMap">
        select id,wps_library_id,channel_no,initial_ele_max,initial_ele_min,initial_vol_max,initial_vol_min,
               first_weld_ele_max,first_weld_ele_min,first_weld_vol_max,first_weld_vol_min,second_weld_ele_max,
               second_weld_ele_min,second_weld_vol_max,second_weld_vol_min,arc_ele_max,arc_ele_min,arc_vol_max,
               arc_vol_min,peak_weld_ele_max,peak_weld_ele_min,peak_weld_vol_max,peak_weld_vol_min,weld_method,
               arc_have_not,pulse_have_not,ac_waveform,pulse_rate,pulse_frequency,clean_width,ac_frequency,mix_frequency,
               mix_ac_rate,pulse_radian,arc_stiffness,hand_weld_thrust,before_aspirated_time,after_stop_gas_time,
               main_weld_rise_time,main_weld_decline_time,main_weld_rise_radian,main_weld_decline_radian,spot_welding_time,
               spot_weld_interval_time,spot_weld_rise_time,spot_weld_decline_time,spot_weld_rise_radian,spot_weld_decline_radian,
               max_channel,now_channel,hand_weld_weld_ele,hand_weld_arc_ele,dcl_initial_ele_max,dcl_initial_ele_min,
               dcl_weld_ele_max,dcl_weld_ele_min,dcl_second_weld_ele_max,dcl_second_weld_ele_min,dcl_arc_ele_max,
               dcl_arc_ele_min,start_delay_time,cl_amend_period,oa_initial_ele_max,oa_initial_ele_min,oa_initial_vol_max,
               oa_initial_vol_min,oa_weld_ele_max,oa_weld_ele_min,oa_weld_vol_max,oa_weld_vol_min,oa_second_weld_ele_max,
               oa_second_weld_ele_min,oa_second_weld_vol_max,oa_second_weld_vol_min,oa_arc_ele_max,oa_arc_ele_min,oa_arc_vol_max,
               oa_arc_vol_min,arc_delay_time,alarm_delay_time,halt_delay_time,halt_freeze_time
        from sx_tig_process_issue
        where wps_library_id = #{wpsLibraryId}
    </select>

    <!--松下TIG工艺信息新增-->
    <insert id="insertSxTIGProcessIssueInfo" parameterType="com.gw.entities.SxTIGProcessIssue">
        insert into sx_tig_process_issue(wps_library_id,channel_no,initial_ele_max,initial_ele_min,initial_vol_max,initial_vol_min,
               first_weld_ele_max,first_weld_ele_min,first_weld_vol_max,first_weld_vol_min,second_weld_ele_max,
               second_weld_ele_min,second_weld_vol_max,second_weld_vol_min,arc_ele_max,arc_ele_min,arc_vol_max,
               arc_vol_min,peak_weld_ele_max,peak_weld_ele_min,peak_weld_vol_max,peak_weld_vol_min,weld_method,
               arc_have_not,pulse_have_not,ac_waveform,pulse_rate,pulse_frequency,clean_width,ac_frequency,mix_frequency,
               mix_ac_rate,pulse_radian,arc_stiffness,hand_weld_thrust,before_aspirated_time,after_stop_gas_time,
               main_weld_rise_time,main_weld_decline_time,main_weld_rise_radian,main_weld_decline_radian,spot_welding_time,
               spot_weld_interval_time,spot_weld_rise_time,spot_weld_decline_time,spot_weld_rise_radian,spot_weld_decline_radian,
               max_channel,now_channel,hand_weld_weld_ele,hand_weld_arc_ele,dcl_initial_ele_max,dcl_initial_ele_min,
               dcl_weld_ele_max,dcl_weld_ele_min,dcl_second_weld_ele_max,dcl_second_weld_ele_min,dcl_arc_ele_max,
               dcl_arc_ele_min,start_delay_time,cl_amend_period,oa_initial_ele_max,oa_initial_ele_min,oa_initial_vol_max,
               oa_initial_vol_min,oa_weld_ele_max,oa_weld_ele_min,oa_weld_vol_max,oa_weld_vol_min,oa_second_weld_ele_max,
               oa_second_weld_ele_min,oa_second_weld_vol_max,oa_second_weld_vol_min,oa_arc_ele_max,oa_arc_ele_min,oa_arc_vol_max,
               oa_arc_vol_min,arc_delay_time,alarm_delay_time,halt_delay_time,halt_freeze_time)
        values(#{sxTIGProcessIssue.wpsLibraryId},#{sxTIGProcessIssue.channelNo},
            #{sxTIGProcessIssue.initialEleMax},#{sxTIGProcessIssue.initialEleMin},#{sxTIGProcessIssue.initialVolMax},
            #{sxTIGProcessIssue.initialVolMin},#{sxTIGProcessIssue.firstWeldEleMax},#{sxTIGProcessIssue.firstWeldEleMin},
            #{sxTIGProcessIssue.firstWeldVolMax},#{sxTIGProcessIssue.firstWeldVolMin},#{sxTIGProcessIssue.secondWeldEleMax},
            #{sxTIGProcessIssue.secondWeldEleMin},#{sxTIGProcessIssue.secondWeldVolMax},#{sxTIGProcessIssue.secondWeldVolMin},
            #{sxTIGProcessIssue.arcEleMax},#{sxTIGProcessIssue.arcEleMin},#{sxTIGProcessIssue.arcVolMax},#{sxTIGProcessIssue.arcVolMin},
            #{sxTIGProcessIssue.peakWeldEleMax},#{sxTIGProcessIssue.peakWeldEleMin},#{sxTIGProcessIssue.peakWeldVolMax},
            #{sxTIGProcessIssue.peakWeldVolMin},#{sxTIGProcessIssue.weldMethod},
            #{sxTIGProcessIssue.arcHaveNot},#{sxTIGProcessIssue.pulseHaveNot},#{sxTIGProcessIssue.acWaveform},#{sxTIGProcessIssue.pulseRate},
            #{sxTIGProcessIssue.pulseFrequency},#{sxTIGProcessIssue.cleanWidth},
            #{sxTIGProcessIssue.acFrequency},#{sxTIGProcessIssue.mixFrequency},#{sxTIGProcessIssue.mixAcRate},
            #{sxTIGProcessIssue.pulseRadian},#{sxTIGProcessIssue.arcStiffness},#{sxTIGProcessIssue.handWeldThrust},
            #{sxTIGProcessIssue.beforeAspiratedTime},#{sxTIGProcessIssue.afterStopGasTime},#{sxTIGProcessIssue.mainWeldRiseTime},
            #{sxTIGProcessIssue.mainWeldDeclineTime},#{sxTIGProcessIssue.mainWeldRiseRadian},#{sxTIGProcessIssue.mainWeldDeclineRadian},
            #{sxTIGProcessIssue.spotWeldingTime},#{sxTIGProcessIssue.spotWeldIntervalTime},#{sxTIGProcessIssue.spotWeldRiseTime},
            #{sxTIGProcessIssue.spotWeldDeclineTime},#{sxTIGProcessIssue.spotWeldRiseRadian},#{sxTIGProcessIssue.spotWeldDeclineRadian},
            #{sxTIGProcessIssue.maxChannel},#{sxTIGProcessIssue.nowChannel},#{sxTIGProcessIssue.handWeldWeldEle},#{sxTIGProcessIssue.handWeldArcEle},
            #{sxTIGProcessIssue.dclInitialEleMax},#{sxTIGProcessIssue.dclInitialEleMin},
            #{sxTIGProcessIssue.dclWeldEleMax},#{sxTIGProcessIssue.dclWeldEleMin},#{sxTIGProcessIssue.dclSecondWeldEleMax},
            #{sxTIGProcessIssue.dclSecondWeldEleMin},#{sxTIGProcessIssue.dclArcEleMax},#{sxTIGProcessIssue.dclArcEleMin},
            #{sxTIGProcessIssue.startDelayTime},#{sxTIGProcessIssue.clAmendPeriod},#{sxTIGProcessIssue.oaInitialEleMax},#{sxTIGProcessIssue.oaInitialEleMin},
            #{sxTIGProcessIssue.oaInitialVolMax},#{sxTIGProcessIssue.oaInitialVolMin},
            #{sxTIGProcessIssue.oaWeldEleMax},#{sxTIGProcessIssue.oaWeldEleMin},#{sxTIGProcessIssue.oaWeldVolMax},#{sxTIGProcessIssue.oaWeldVolMin},
            #{sxTIGProcessIssue.oaSecondWeldEleMax},#{sxTIGProcessIssue.oaSecondWeldEleMin},
            #{sxTIGProcessIssue.oaSecondWeldVolMax},#{sxTIGProcessIssue.oaSecondWeldVolMin},#{sxTIGProcessIssue.oaArcEleMax},
            #{sxTIGProcessIssue.oaArcEleMin},#{sxTIGProcessIssue.oaArcVolMax},#{sxTIGProcessIssue.oaArcVolMin},
            #{sxTIGProcessIssue.arcDelayTime},#{sxTIGProcessIssue.alarmDelayTime},#{sxTIGProcessIssue.haltDelayTime},#{sxTIGProcessIssue.haltFreezeTime})
    </insert>

    <!--根据 id 查询 松下TIG工艺信息-->
    <select id="selectSxTIGProcessIssueInfoById" parameterType="Long" resultMap="sxTIGMap">
        select id,wps_library_id,channel_no,initial_ele_max,initial_ele_min,initial_vol_max,initial_vol_min,
               first_weld_ele_max,first_weld_ele_min,first_weld_vol_max,first_weld_vol_min,second_weld_ele_max,
               second_weld_ele_min,second_weld_vol_max,second_weld_vol_min,arc_ele_max,arc_ele_min,arc_vol_max,
               arc_vol_min,peak_weld_ele_max,peak_weld_ele_min,peak_weld_vol_max,peak_weld_vol_min,weld_method,
               arc_have_not,pulse_have_not,ac_waveform,pulse_rate,pulse_frequency,clean_width,ac_frequency,mix_frequency,
               mix_ac_rate,pulse_radian,arc_stiffness,hand_weld_thrust,before_aspirated_time,after_stop_gas_time,
               main_weld_rise_time,main_weld_decline_time,main_weld_rise_radian,main_weld_decline_radian,spot_welding_time,
               spot_weld_interval_time,spot_weld_rise_time,spot_weld_decline_time,spot_weld_rise_radian,spot_weld_decline_radian,
               max_channel,now_channel,hand_weld_weld_ele,hand_weld_arc_ele,dcl_initial_ele_max,dcl_initial_ele_min,
               dcl_weld_ele_max,dcl_weld_ele_min,dcl_second_weld_ele_max,dcl_second_weld_ele_min,dcl_arc_ele_max,
               dcl_arc_ele_min,start_delay_time,cl_amend_period,oa_initial_ele_max,oa_initial_ele_min,oa_initial_vol_max,
               oa_initial_vol_min,oa_weld_ele_max,oa_weld_ele_min,oa_weld_vol_max,oa_weld_vol_min,oa_second_weld_ele_max,
               oa_second_weld_ele_min,oa_second_weld_vol_max,oa_second_weld_vol_min,oa_arc_ele_max,oa_arc_ele_min,oa_arc_vol_max,
               oa_arc_vol_min,arc_delay_time,alarm_delay_time,halt_delay_time,halt_freeze_time
        from sx_tig_process_issue
        where id = #{id}
    </select>

    <!--修改 松下TIG工艺信息-->
    <update id="updateSxTIGProcessIssueInfo" parameterType="com.gw.entities.SxTIGProcessIssue">
        update sx_tig_process_issue set wps_library_id = #{sxTIGProcessIssue.wpsLibraryId},
               channel_no = #{sxTIGProcessIssue.channelNo},initial_ele_max = #{sxTIGProcessIssue.initialEleMax},
               initial_ele_min = #{sxTIGProcessIssue.initialEleMin},initial_vol_max = #{sxTIGProcessIssue.initialVolMax},
               initial_vol_min = #{sxTIGProcessIssue.initialVolMin},first_weld_ele_max = #{sxTIGProcessIssue.firstWeldEleMax},
               first_weld_ele_min = #{sxTIGProcessIssue.firstWeldEleMin},first_weld_vol_max = #{sxTIGProcessIssue.firstWeldVolMax},
               first_weld_vol_min = #{sxTIGProcessIssue.firstWeldVolMin},second_weld_ele_max = #{sxTIGProcessIssue.secondWeldEleMax},
               second_weld_ele_min = #{sxTIGProcessIssue.secondWeldEleMin},
               second_weld_vol_max = #{sxTIGProcessIssue.secondWeldVolMax},second_weld_vol_min =#{sxTIGProcessIssue.secondWeldVolMin},
               arc_ele_max = #{sxTIGProcessIssue.arcEleMax},
               arc_ele_min = #{sxTIGProcessIssue.arcEleMin},arc_vol_max = #{sxTIGProcessIssue.arcVolMax},
               arc_vol_min = #{sxTIGProcessIssue.arcVolMin},peak_weld_ele_max = #{sxTIGProcessIssue.peakWeldEleMax},
               peak_weld_ele_min = #{sxTIGProcessIssue.peakWeldEleMin},peak_weld_vol_max = #{sxTIGProcessIssue.peakWeldVolMax},
               peak_weld_vol_min = #{sxTIGProcessIssue.peakWeldVolMin},weld_method = #{sxTIGProcessIssue.weldMethod},
               arc_have_not = #{sxTIGProcessIssue.arcHaveNot},pulse_have_not = #{sxTIGProcessIssue.pulseHaveNot},ac_waveform = #{sxTIGProcessIssue.acWaveform},
               pulse_rate = #{sxTIGProcessIssue.pulseRate},pulse_frequency = #{sxTIGProcessIssue.pulseFrequency},
               clean_width = #{sxTIGProcessIssue.cleanWidth},ac_frequency = #{sxTIGProcessIssue.acFrequency},mix_frequency = #{sxTIGProcessIssue.mixFrequency},
               mix_ac_rate = #{sxTIGProcessIssue.mixAcRate},pulse_radian = #{sxTIGProcessIssue.pulseRadian},arc_stiffness = #{sxTIGProcessIssue.arcStiffness},
               hand_weld_thrust = #{sxTIGProcessIssue.handWeldThrust},before_aspirated_time = #{sxTIGProcessIssue.beforeAspiratedTime},
               after_stop_gas_time = #{sxTIGProcessIssue.afterStopGasTime},
               main_weld_rise_time = #{sxTIGProcessIssue.mainWeldRiseTime},main_weld_decline_time = #{sxTIGProcessIssue.mainWeldDeclineTime},
               main_weld_rise_radian = #{sxTIGProcessIssue.mainWeldRiseRadian},main_weld_decline_radian = #{sxTIGProcessIssue.mainWeldDeclineRadian},
               spot_welding_time = #{sxTIGProcessIssue.spotWeldingTime},
               spot_weld_interval_time = #{sxTIGProcessIssue.spotWeldIntervalTime},spot_weld_rise_time = #{sxTIGProcessIssue.spotWeldRiseTime},
               spot_weld_decline_time = #{sxTIGProcessIssue.spotWeldDeclineTime},spot_weld_rise_radian = #{sxTIGProcessIssue.spotWeldRiseRadian},
               spot_weld_decline_radian = #{sxTIGProcessIssue.spotWeldDeclineRadian},
               max_channel = #{sxTIGProcessIssue.maxChannel},now_channel = #{sxTIGProcessIssue.nowChannel},
               hand_weld_weld_ele = #{sxTIGProcessIssue.handWeldWeldEle},
               hand_weld_arc_ele = #{sxTIGProcessIssue.handWeldArcEle},dcl_initial_ele_max = #{sxTIGProcessIssue.dclInitialEleMax},
               dcl_initial_ele_min = #{sxTIGProcessIssue.dclInitialEleMin},
               dcl_weld_ele_max = #{sxTIGProcessIssue.dclWeldEleMax},dcl_weld_ele_min = #{sxTIGProcessIssue.dclWeldEleMin},
               dcl_second_weld_ele_max = #{sxTIGProcessIssue.dclSecondWeldEleMax},dcl_second_weld_ele_min = #{sxTIGProcessIssue.dclSecondWeldEleMin},
               dcl_arc_ele_max = #{sxTIGProcessIssue.dclArcEleMax},
               dcl_arc_ele_min = #{sxTIGProcessIssue.dclArcEleMin},start_delay_time = #{sxTIGProcessIssue.startDelayTime},
               cl_amend_period = #{sxTIGProcessIssue.clAmendPeriod},oa_initial_ele_max = #{sxTIGProcessIssue.oaInitialEleMax},
               oa_initial_ele_min = #{sxTIGProcessIssue.oaInitialEleMin},oa_initial_vol_max = #{sxTIGProcessIssue.oaInitialVolMax},
               oa_initial_vol_min = #{sxTIGProcessIssue.oaInitialVolMin},oa_weld_ele_max = #{sxTIGProcessIssue.oaWeldEleMax},
               oa_weld_ele_min = #{sxTIGProcessIssue.oaWeldEleMin},oa_weld_vol_max = #{sxTIGProcessIssue.oaWeldVolMax},
               oa_weld_vol_min = #{sxTIGProcessIssue.oaWeldVolMin},oa_second_weld_ele_max = #{sxTIGProcessIssue.oaSecondWeldEleMax},
               oa_second_weld_ele_min = #{sxTIGProcessIssue.oaSecondWeldEleMin},oa_second_weld_vol_max = #{sxTIGProcessIssue.oaSecondWeldVolMax},
               oa_second_weld_vol_min = #{sxTIGProcessIssue.oaSecondWeldVolMin},
               oa_arc_ele_max = #{sxTIGProcessIssue.oaArcEleMax},oa_arc_ele_min = #{sxTIGProcessIssue.oaArcEleMin},
               oa_arc_vol_max = #{sxTIGProcessIssue.oaArcVolMax},
               oa_arc_vol_min = #{sxTIGProcessIssue.oaArcVolMin},arc_delay_time = #{sxTIGProcessIssue.arcDelayTime},
               alarm_delay_time = #{sxTIGProcessIssue.alarmDelayTime},halt_delay_time = #{sxTIGProcessIssue.haltDelayTime},
               halt_freeze_time = #{sxTIGProcessIssue.haltFreezeTime}
        where id = #{sxTIGProcessIssue.id}
    </update>

    <!--删除 松下TIG工艺信息-->
    <delete id="deleteSxTIGProcessIssueInfo" parameterType="Long">
        delete from sx_tig_process_issue where id = #{id}
    </delete>

    <!--根据 工艺库id  查询  通道号-->
    <select id="queryChannelNos" parameterType="Long" resultType="String">
		select channel_no from sx_tig_process_issue where wps_library_id = #{id}
	</select>

</mapper>
