<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gw.service.sys.dao.SysLogDao">

    <resultMap id="sysLogMap" type="com.gw.entities.SysLog">
        <id property="id" column="id"></id>
        <result property="userName" column="user_name"></result>
        <result property="operation" column="operation"></result>
        <result property="method" column="method"></result>
        <result property="params" column="params"></result>
        <result property="time" column="time"></result>
        <result property="ip" column="ip"></result>
        <result property="createBy" column="create_by"></result>
        <result property="createTime" column="create_time"></result>
        <result property="lastUpdateBy" column="last_update_by"></result>
        <result property="lastUpdateTime" column="last_update_time"></result>
    </resultMap>

    <!--新增日志信息-->
    <insert id="insertSysLogInfo" parameterType="com.gw.entities.SysLog">
        insert into sys_log(user_name,operation,method,params,`time`,ip,create_time,menu_model)
        values(#{sysLog.userName},#{sysLog.operation},#{sysLog.method},#{sysLog.params},
        #{sysLog.time},#{sysLog.ip},#{sysLog.createTime},#{sysLog.menuModel})
    </insert>

    <!--查询日志信息列表-->
    <select id="selectSysLogInfos" resultMap="sysLogMap">
        select id,user_name,operation,method,params,`time`,ip,create_time,menu_model
        from sys_log
    </select>

    <!--根据id删除日志信息-->
    <delete id="deleteSysLogInfoById" parameterType="Long">
        delete from sys_log where id = #{id}
    </delete>

    <!--查询接口信息列表-->
    <select id="selectApiInfos" resultType="com.gw.entities.ApiInfo">
        select api_name apiName,menu_operation menuOperation from api_info
    </select>
</mapper>
