<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.service.data.team.dao.TeamDao">

	<resultMap id="weldStatisticsData" type="com.gw.entities.WeldStatisticsDataTeam">
		<id property="id"  column="id"></id>
		<result property="weldModel" column="weldModel"></result>
		<result property="gatherNo" column="gatherNo"></result>
		<result property="welderNo" column="welderNo"></result>
		<result property="weldStatus" column="weldStatus"></result>
		<result property="weldDuration" column="weldDuration"></result>
		<result property="machineId" column="machineId"></result>
		<result property="machineNo" column="machineNo"></result>
		<result property="machineDeptId" column="machineDeptId"></result>
		<result property="gatherId" column="gatherId"></result>
		<result property="gatherDeptId" column="gatherDeptId"></result>
		<result property="welderId" column="welderId"></result>
		<result property="welderName" column="welderName"></result>
		<result property="welderDeptId" column="welderDeptId"></result>
		<result property="taskId" column="taskId"></result>
		<result property="taskName" column="taskName"></result>
		<result property="taskNo" column="taskNo"></result>
		<result property="createTime" column="createTime"></result>
		<result property="startTime" column="startTime"></result>
		<result property="endTime" column="endTime"></result>
		<result property="electricity" column="electricity"></result>
		<result property="voltage" column="voltage"></result>
		<result property="wireFeedRate" column="wireFeedRate"></result>
		<result property="wireDiameter" column="wireDiameter"></result>
		<result property="wireMaterialsGases" column="wireMaterialsGases"></result>
	</resultMap>

	<!--查询班组报表信息列表-->
	<select id="getList" resultType="com.gw.entities.WeldStatisticsDataTeam">
		SELECT g.id,g.deptName,SUM(g.allCount) allCount,SUM(g.onOffCount) onOffCount,
		CONCAT(FLOOR(SUM(g.onOffTime)/3600),':',FLOOR(SUM(g.onOffTime)%3600/60),':',FLOOR(SUM(g.onOffTime)%3600%60)) onOffTime,
		SUM(g.taskCount) taskCount,SUM(g.realWeldOnline) realWeldOnline,
		CONCAT(FLOOR(SUM(g.realWeldTime)/3600),':',FLOOR(SUM(g.realWeldTime)%3600/60),':',FLOOR(SUM(g.realWeldTime)%3600%60)) realWeldTime,
		SUM(g.noTaskCount) noTaskCount,GROUP_CONCAT(g.noTaskMachineDetail),
		SUM(g.equipUtilization) equipUtilization,
		CONCAT(FLOOR(SUM(g.supergageTime)/3600),':',FLOOR(SUM(g.supergageTime)%3600/60),':',FLOOR(SUM(g.supergageTime)%3600%60)) supergageTime,
		CONCAT(FLOOR((SUM(g.normalTime))/3600),':',FLOOR((SUM(g.normalTime))%3600/60),':',FLOOR((SUM(g.normalTime))%3600%60)) normalTime,
		SUM(g.weldingEfficiency) weldingEfficiency,SUM(g.standardPercentage) standardPercentage,SUM(g.materialsConsumption) materialsConsumption,
		SUM(g.powerConsumption) powerConsumption
		FROM(SELECT d.id,d.`name` deptName,COUNT(DISTINCT m.id) allCount,COUNT(DISTINCT s.machineId) onOffCount,SUM(s.weldDuration) onOffTime,
		COUNT(DISTINCT s.taskId)-COUNT(DISTINCT s2.taskId) taskCount,COUNT(DISTINCT s1.machineId) realWeldOnline,SUM(s1.weldDuration) realWeldTime,
		IF(SUM(s1.weldDuration)>300,COUNT(DISTINCT s2.machineId),0) noTaskCount,GROUP_CONCAT(distinct s2.machineNo) noTaskMachineDetail,
		ROUND(COUNT(DISTINCT s.machineId)/COUNT(DISTINCT m.id),2)*100 equipUtilization,SUM(s3.weldDuration) supergageTime,
		SUM(s1.weldDuration)-IFNULL(SUM(s3.weldDuration),0) normalTime,ROUND((SUM(s1.weldDuration))/SUM(s.weldDuration),2)*100 weldingEfficiency,
		ROUND((SUM(s1.weldDuration)-IFNULL(SUM(s3.weldDuration),0))/SUM(s1.weldDuration),2)*100 standardPercentage,
		sum(s.wireFeedRate*s.weldDuration)/600 materialsConsumption,
		sum((s.electricity*s.voltage*s.weldDuration)/3600/1000)+sum(s.weldDuration-s1.weldDuration)/36000 powerConsumption
		FROM sys_dept d
		INNER JOIN machine_weld_info m ON d.id=m.dept_id
		LEFT JOIN weld_statistics_data s ON d.id=s.machineDeptId AND m.id=s.machineId
		AND s.startTime &gt;= #{time1} and s.endTime &lt;= #{time2}
		LEFT JOIN weld_statistics_data s1 ON s.id=s1.id  AND s1.weldStatus IN (3,5,7,99)
		LEFT JOIN weld_statistics_data s3 ON s1.id=s3.id  AND s1.weldStatus=99
		LEFT JOIN weld_statistics_data s2 ON s1.id=s2.id AND s2.taskId is NULL
		where d.id in
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
		GROUP BY d.`name`
		UNION ALL
		SELECT d.id,d.`name` deptName,
		COUNT(DISTINCT m.id) allCount,
		COUNT(DISTINCT sx1.weldCid) onOffCount,
		SUM(sx.weldSuration) onOffTime,
		COUNT(DISTINCT sx1.taskId)-COUNT(DISTINCT sx2.taskId) taskCount,
		COUNT(DISTINCT sx3.weldCid) realWeldOnline,
		SUM(sx3.weldSuration) realWeldTime,
		IF(SUM(sx3.weldSuration)>300,COUNT(DISTINCT sx2.weldCid),0) noTaskCount,
		GROUP_CONCAT(distinct sx2.weldCid) noTaskMachineDetail,
		ROUND(COUNT(DISTINCT sx.weldCid)/COUNT(DISTINCT m.id),2) equipUtilization,
		0 supergageTime,
		SUM(sx3.weldSuration) normalTime,
		ROUND((SUM(sx1.weldSuration))/SUM(sx3.weldSuration),2) weldingEfficiency,
		100 standardPercentage,
		sum(sx3.realityWireSpeed*sx3.weldSuration)/600 materialsConsumption,
		sum((sx3.realityWeldEle*sx3.realityWeldVol*sx3.weldSuration)/3600/1000)+(sx3.weldSuration-sx1.weldSuration)/36000 powerConsumption
		FROM sys_dept d
		INNER JOIN machine_weldsx_info m ON d.id = m.dept_id
		LEFT JOIN weldsx_statistics_data sx ON m.weld_cid = sx.weldCid
		AND sx.startTime &gt;= #{time1} AND sx.endTime &lt;= #{time2}
		LEFT JOIN weldsx_statistics_data sx1 ON sx.id=sx1.id  AND sx1.weldStatus NOT IN (3,4,6,9)
		LEFT JOIN weldsx_statistics_data sx2 ON sx1.id=sx2.id  AND sx2.taskId IS NULL
		LEFT JOIN weldsx_statistics_data sx3 ON sx1.id=sx3.id AND sx3.weldStatus NOT IN (0,3,4,6,9)
		WHERE d.id IN
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
		GROUP BY d.`name`)g
		GROUP BY g.deptName
	</select>

	<!--查询OTC、松下实时班组报表信息列表-->
	<select id="getOTCAndSXRealTimeInfos" parameterType="String" resultType="com.gw.entities.WeldStatisticsDataTeam">
		SELECT g.deptName,SUM(g.allCount) allCount,SUM(g.onOffCount) onOffCount,
		CONCAT(FLOOR(SUM(g.onOffTime)/3600),':',FLOOR(SUM(g.onOffTime)%3600/60),':',FLOOR(SUM(g.onOffTime)%3600%60)) onOffTime,
		SUM(g.taskCount) taskCount,SUM(g.realWeldOnline) realWeldOnline,
		CONCAT(FLOOR(SUM(g.realWeldTime)/3600),':',FLOOR(SUM(g.realWeldTime)%3600/60),':',FLOOR(SUM(g.realWeldTime)%3600%60)) realWeldTime,
		SUM(g.noTaskCount) noTaskCount,GROUP_CONCAT(g.noTaskMachineDetail),
		SUM(g.equipUtilization) equipUtilization,
		CONCAT(FLOOR(SUM(g.supergageTime)/3600),':',FLOOR(SUM(g.supergageTime)%3600/60),':',FLOOR(SUM(g.supergageTime)%3600%60)) supergageTime,
		CONCAT(FLOOR((SUM(g.normalTime))/3600),':',FLOOR((SUM(g.normalTime))%3600/60),':',FLOOR((SUM(g.normalTime))%3600%60)) normalTime,
		SUM(g.weldingEfficiency) weldingEfficiency,SUM(g.standardPercentage) standardPercentage,SUM(g.materialsConsumption) materialsConsumption,
		SUM(g.powerConsumption) powerConsumption
		FROM(select dept.name deptName,COUNT(DISTINCT m.id) allCount,COUNT(DISTINCT otcTable.machineId) onOffCount,
		COUNT(DISTINCT otcTable1.machineId) realWeldOnline,IF(SUM(otcTable1.weldTime)>300,COUNT(DISTINCT otcTable2.machineId),0) noTaskCount,
		ROUND(COUNT(DISTINCT otcTable.machineId)/COUNT(DISTINCT m.id),2)*100 equipUtilization,
		COUNT(DISTINCT otcTable.taskId)-COUNT(DISTINCT otcTable2.taskId) taskCount,SUM(otcTable1.weldTime) realWeldTime,
		SUM(otcTable.weldTime) onOffTime,SUM(otcTable1.weldTime)-IFNULL(SUM(otcTable3.weldTime),0) normalTime,
		ROUND((SUM(otcTable1.weldTime))/SUM(otcTable.weldTime),2)*100 weldingEfficiency,
		SUM(otcTable3.weldTime) supergageTime,
		ROUND((SUM(otcTable1.weldTime)-IFNULL(SUM(otcTable3.weldTime),0))/SUM(otcTable1.weldTime),2)*100 standardPercentage,
		sum(otcTable.wireFeedRate*otcTable.weldTime)/600 materialsConsumption,
		sum((otcTable.weldElectricity*otcTable.weldVoltage*otcTable.weldTime)/3600/1000)+sum(otcTable.weldTime-otcTable1.weldTime)/36000 powerConsumption,
		GROUP_CONCAT(distinct otcTable2.machineNo) noTaskMachineDetail
		from weldmesdb.sys_dept dept
		left join ${otcTableName} otcTable on dept.id = otcTable.machineDeptId
		left join weldmesdb.machine_weld_info m on m.id = otcTable.machineId
		left join ${otcTableName} otcTable1 on otcTable1.id = otcTable.id and otcTable1.weldStatus in (3,5,7,99)
		left join ${otcTableName} otcTable2 on otcTable2.id = otcTable1.id and otcTable2.taskId is NULL
		left join ${otcTableName} otcTable3 on otcTable3.id = otcTable2.id and otcTable3.weldStatus = 99
		where otcTable.weldTime between #{time} and #{time2}
		and dept.id in
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
		group by dept.`name`
		union all
		select dept.`name` deptName,
		COUNT(DISTINCT sxm.id) allCount,
		COUNT(DISTINCT sxTable1.weldCid) onOffCount,
		SUM(sxTable.weldTime) onOffTime,
		COUNT(DISTINCT sxTable1.taskId)-COUNT(DISTINCT sxTable2.taskId) taskCount,
		COUNT(DISTINCT sxTable3.weldCid) realWeldOnline,
		SUM(sxTable3.weldTime) realWeldTime,
		IF(SUM(sxTable3.weldTime)>300,COUNT(DISTINCT sxTable2.weldCid),0) noTaskCount,
		GROUP_CONCAT(distinct sxTable2.weldCid) noTaskMachineDetail,
		ROUND(COUNT(DISTINCT sxTable.weldCid)/COUNT(DISTINCT sxm.id),2) equipUtilization,
		0 supergageTime,
		SUM(sxTable3.weldTime) normalTime,
		ROUND((SUM(sxTable1.weldTime))/SUM(sxTable3.weldTime),2) weldingEfficiency,
		100 standardPercentage,
		sum(sxTable3.realityWireSpeed*sxTable3.weldTime)/600 materialsConsumption,
		sum((sxTable3.realityWeldEle*sxTable3.realityWeldVol*sxTable3.weldTime)/3600/1000)+(sxTable3.weldTime-sxTable1.weldTime)/36000 powerConsumption
		from weldmesdb.sys_dept dept
		left join weldmesdb.machine_weldsx_info sxm on sxm.dept_id = dept.id
		left join ${sxTableName} sxTable on sxm.weld_cid = sxTable.weldCid
		left join ${sxTableName} sxTable1 on sxTable1.id = sxTable.id and sxTable1.weldStatus not in (3,4,6,9)
		left join ${sxTableName} sxTable2 on sxTable2.id = sxTable1.id and sxTable2.taskId is NULL
		left join ${sxTableName} sxTable3 on sxTable3.id = sxTable2.id and sxTable3.weldStatus not in (0,3,4,6,9)
		where sxTable.weldTime &gt;= #{time} and sxTable.weldTime &lt;= #{time2}
		and dept.id in
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
		group by dept.`name`)g
		GROUP BY g.deptName
	</select>

</mapper>
